<h1>Nosotros</h1>
<%= image_tag "restaurant.jpg" %><br/><br/>
<p>
    En 1983 se concibió la idea de hacer en Lima un restaurante exclusivo sobre el mar, y el 25 de setiembre de ese año abrió sus puertas FastFood, que poco a poco fue conquistando los paladares de peruanos y extranjeros, convirtiéndose en paso obligado de turistas, quienes desde siempre son nuestros mejores publicistas en el exterior.
</p>
<p>
    Los visitantes son acogidos por nuestro personal formado profesionalmente en calidad de atención al cliente, en un local cálido, con varios ambientes de estilo único, que permiten gran versatilidad, y facilitan la atención simultánea de reservas privadas, corporativas, de empresas, embajadas o instituciones y celebraciones familiares, personales, aniversarios y afines. Nuestros clientes son siempre atendidos con productos y servicios diseñados para satisfacer sus más altas exigencias.
</p>
    

